@model List<Lucci_Web.Models.GioHang>
@{
    ViewBag.Title = "Index";
}

<h2>Thông tin giỏ hàng của bạn</h2>

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>Tên sản phẩm</th>
        <th>Giá tiền</th>
        <th>Số lượng</th>
        <th>Thành tiền</th>
    </tr>
    @foreach (var monHang in Model)
    {
        <tr>
            <td>@monHang.SanPham.TenSanPham</td>
            <td>@monHang.SanPham.DonGia</td>
            <td>@(monHang.SoLuong = 1)</td>
            <td>@(monHang.TongTien = monHang.SanPham.DonGia * monHang.SoLuong)</td>
        </tr>
    }
</table>

<div>
    Tổng tiền: @Model.Sum(mh => mh.SanPham.DonGia * mh.SoLuong)
</div>
<div>
    Tổng số lượng: Số lượng : @Model.Sum(mh => mh.SoLuong)
</div>
@if (Model.Count > 0)
{
<div>
    <a href="~/DanhSachDonHang/Create" class="btn btn-success">Đặt hàng</a>
    <a href="~/SanPham/Index">Tiếp tục mua hàng</a>
</div>
}